.label {
    -fx-text-fill: #FFFFFF;
    -fx-background-color: #000000;
    -fx-font-size: 14pt;
    -fx-font-family: Papyrus;
}

.text-area {
    -fx-background-color: #000000;
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 14pt;
    -fx-font-family: Papyrus;
}